@charset "UTF-8";

body {
    background-color: #9bd8a9;
}

/*Scrollbar*/

::-webkit-scrollbar {
    width: 10px;
    max-height: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(73, 73, 73, 0.452); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(73, 73, 73, 0.705); 
    border-radius: 10px;
}

/*Footer*/

.footercontent {
    color: rgb(88, 88, 88);
    justify-content: center;
    text-align: center;
}

.footercontent:hover {
    color: rgb(136, 136, 136);
}

.footercontainer {
    padding: 20px;
    background-color: rgb(44, 44, 44);
    min-height: 100px;
}

.footerlink {
    text-decoration: none;
}

.footerlink:hover {
    text-decoration: none;
}

.logindiv {
    overflow: hidden;
    padding: 50px;
    margin-top: 5%;
    display: inline-block;
    width: 500px;
    height: 550px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.invisiblecontainer {
    min-height: 1000px;
}


.input-login{
    margin-top: 30px;
    width: 400px;
    height: 40px;
    padding: 10px;
    border: none;
    outline: 2px solid #A0E2AF;
    border-radius: 10px;
    transition: 0.7s;
}

.text-login {
    text-align: left;

}

.greenLetter {
    color: rgb(7, 126, 7);
    font-size: 72px;
}

.titleLogo{
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 72px;
}

/*Mudar cor de seleção de texto/conteúdo*/
::selection {
    color: rgb(206, 255, 227);
    background: rgba(7, 97, 4, 0.664);
}

.forgot-pswrd {
    color: #309e4a;
    margin-top: 40px;
    text-decoration: none;
    float: left;
}

.forgot-pswrd:hover {
    color: #217434;
}


.register {
    color: #309e4a;
    margin-top: 40px;
    text-decoration: none;
    float: left;
}

.register:hover {
    color: #217434;
}

.login-btn {
    float: right;
    margin-top: 30px;
    background: rgb(172, 230, 169);
    color: rgb(12, 85, 54);
    outline: none;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    transition: 0.7s;
}

.login-btn:hover {
    float: right;
    margin-top: 30px;
    background: rgb(127, 177, 124);
    color: rgb(9, 58, 37);
    outline: none;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    transition: 0.7s;
}

.divisory {
    border-top: 1px solid;
}

.logininva{
    background-color: rgb(127, 177, 124);
    color: rgb(9, 58, 37);
    font-size: 15px;
    margin-top: 100px;
    border-radius: 15px;
}
